.container {
    display: flex;
    justify-content: center;
    width: 65%;
  }
  .textWarning {
    color: red;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }